<!-- header navigation -->

	<header class="header">
		<input type="checkbox" id="nav-menu-toggle" #navToggle [checked]="checked" (change)="checked=navToggle.checked">
		<div class="header-wrapper">
			<div class="header-logo">Our Care</div>
			<label class="burger-menu-icon" for="nav-menu-toggle">
				<div class="burger-menu-line line-1"></div>
				<div class="burger-menu-line line-2"></div>
				<div class="burger-menu-line line-3"></div>
			</label>
		</div>
		<nav id="nav">
			<ul class="nav-items">
				<li class="nav-item" (click)="onPageChange(1)">Home</li>
				<li class="nav-item" (click)="onPageChange(2)">Project Goals</li>
				<li class="nav-item" (click)="onPageChange(3)">Personas</li>
				<li class="nav-item" (click)="onPageChange(4)">Sketches</li>
				<li class="nav-item" (click)="onPageChange(5)">Critique</li>
				<li class="nav-item" (click)="onPageChange(6)">Technologies</li>
			</ul>

		</nav>

	</header>
<!-- End of header navigation -->
