<h1 >Sketch</h1>

<div class="sketches">
	<div class="sketch">
	<h3>Login</h3>
	<a href="#" class="pop">
	    <img src="assets/images/login.PNG" >
	</a>
	</div>
	<div class="sketch">
	<h3>Dashboard</h3>
	<a href="#" class="pop">
	    <img src="assets/images/dashboard.PNG" >
	</a>
	</div>
	<div class="sketch">
	<h3>Tour</h3>
	<a href="#" class="pop">
	    <img src="assets/images/tour.PNG" >
	</a>
	</div>

	<div class="sketch">
	<h3>Current patient</h3>
	<a href="#" class="pop">
	    <img src="assets/images/current-patient.PNG" >
	</a>
	</div>

	<div class="sketch">
	<h3>Waiting patient</h3>
	<a href="#" class="pop">
	    <img src="assets/images/waiting-patient.PNG" >
	</a>
	</div>
</div>

<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">              
      <div class="modal-body">
      	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <img src="" class="imagepreview" style="width: 100%;" >
      </div>
    </div>
  </div>
</div>

