<h1>Technologies</h1>

<div class="technologies">
	<div class="technology">
		<div class="technology-name">
			<h4>Technonoly</h4>
			<p>HTML</p>
		</div>
		<div class="technology-knowledge">
			<h4>Knowledge</h4>
			<p>Sufficient</p>
		</div>
		<div class="technology-learining">
			<h4>Learning</h4>
			<p>No</p>
		</div>
	</div>

	<div class="technology">
		<div class="technology-name">
			<h4>Technonoly</h4>
			<p>CSS</p>
		</div>
		<div class="technology-knowledge">
			<h4>Knowledge</h4>
			<p>Sufficient</p>
		</div>
		<div class="technology-learining">
			<h4>Learning</h4>
			<p>No</p>
		</div>
	</div>


	<div class="technology">
		<div class="technology-name">
			<h4>Technonoly</h4>
			<p>JavaScript</p>
		</div>
		<div class="technology-knowledge">
			<h4>Knowledge</h4>
			<p>Sufficient</p>
		</div>
		<div class="technology-learining">
			<h4>Learning</h4>
			<p>No</p>
		</div>
	</div>


	<div class="technology">
		<div class="technology-name">
			<h4>Technonoly</h4>
			<p>Typescript</p>
		</div>
		<div class="technology-knowledge">
			<h4>Knowledge</h4>
			<p>Sufficient</p>
		</div>
		<div class="technology-learining">
			<h4>Learning</h4>
			<p>No</p>
		</div>
	</div>

	<div class="technology">
		<div class="technology-name">
			<h4>Technonoly</h4>
			<p>Angular</p>
		</div>
		<div class="technology-knowledge">
			<h4>Knowledge</h4>
			<p>Insufficient</p>
		</div>
		<div class="technology-learining">
			<h4>Learning</h4>
			<p>Yes</p>
			<p>learning start 05/10/2020 and will end 31/10/2020</p>
		</div>
	</div>

	<div class="technology">
		<div class="technology-name">
			<h4>Technonoly</h4>
			<p>Ionic</p>
		</div>
		<div class="technology-knowledge">
			<h4>Knowledge</h4>
			<p>None</p>
		</div>
		<div class="technology-learining">
			<h4>Learning</h4>
			<p>Yes</p>
			<p>learning will start 31/10/2020 and will end 15/11/2020</p>
		</div>
	</div>

	<div class="technology">
		<div class="technology-name">
			<h4>Technonoly</h4>
			<p>Database</p>
		</div>
		<div class="technology-knowledge">
			<h4>Knowledge</h4>
			<p>Sufficient</p>
		</div>
		<div class="technology-learining">
			<h4>Learning</h4>
			<p>NO</p>
		</div>
	</div>

	<div class="technology">
		<div class="technology-name">
			<h4>Technonoly</h4>
			<p>NodeJs</p>
		</div>
		<div class="technology-knowledge">
			<h4>Knowledge</h4>
			<p>Sufficient</p>
		</div>
		<div class="technology-learining">
			<h4>Learning</h4>
			<p>Yes</p>
			<p>learning will start 31/10/2020 and will end 15/11/2020</p>
		</div>
	</div>

	<div class="technology">
		<div class="technology-name">
			<h4>Technonoly</h4>
			<p>Bootstrap</p>
		</div>
		<div class="technology-knowledge">
			<h4>Knowledge</h4>
			<p>Sufficient</p>
		</div>
		<div class="technology-learining">
			<h4>Learning</h4>
			<p>No</p>
		</div>
	</div>
</div>
