<div class="personas-page-content">
  <h1>Persona</h1>
  <div id="image-holder">
    <img src="assets/images/nurse.jpg" alt="nurse personals" id="nurse-image">
  </div>

  <section class="bio">
  	<h3>Bio</h3>
  	<p><span>Name:</span> Caro Mayer</p>
  	<p><span>Profession:</span> Geriatric Nurses</p>
  </section>
  <section class="needs">
  	<h3>Needs</h3>
  	<p>Caro wants to be able to check her daily and weekly schedule on a mobile phone and update her task like when she is driving to a patient, with a patient, and finished caring for a patient. And she can add extra activities that were not listed on a particular patient which she performed.</p>
  </section>
  <section class="goals">
  	<h3>Goals</h3>
  	<ol class="steps">
  		<li>Log in to the app</li>
  		<li>
  			Click check schedule
  			<ul>
	  			<li>Click Today Schedule to check the specific day schedule</li>
	  			<li>Click This Week to check the specific week schedule</li>
  			</ul>
  		</li>
  		
  		<li>click Start Tour to begin the day schedule.</li>
  		<li>Click  Departure when going to the next patient on the queue</li>
  		<li>Click Arrived when she is with patient</li>
  		<li>Click Treatment when treating the patient </li>
  		<li>Click Treatment Completed when through with a patient. </li>
  		<li>And click Departure to indicate when leaving the current patient and going to the next patient on the queue</li>
  	</ol>
  </section>


  <h3>Photo source</h3>
  <p>www.unsplash.com</p>
</div>


