<div class="project-goals">
<h1>Project Goals</h1>

<h2>Introduction</h2>
<section id="introduction">
	<p>The goal of this project is to develope an app for outpatient care management. The app is a mobile version of an already existng desktop application which have some drawbacks due to its functionalities. The mobile version of the app will be limited to some functionality which are suitable to used on mobile phone. In the sense the mobile version of the app complements the desktop version</p>
</section>

<h2>Funtionalities</h2>
<section id="functionality">
	<ol>
		
		<li>The supervisor can check and see the current activity of a nurse.</li>
		<li>The supervisor will get a notfication on when a nurse finished caring for a patient.</li>
		<li>The nurse get a reminder of when his/her patients prescription is going to finished.</li>
		<li>A nurse can transfer his/her patient to another nurse in case he/she has to spend extra time with current patients due to emergency.</li>
		<li>And the supervisor can removes a patient from a nurse schedule.</li>
		<li>The nurse can scan the PZN barcode on the medication of his/patient for odering from the pharmancy</li>
		<li>The nurses can check their weekly shedule. </li> 


	</ol>
	
</section>
</div>