<h1>Critique</h1>

<div class="critiques">
	<h3>Outpatient App</h3>
	<div class="critique">	
		<div class="critique-app-img">
			<img src="assets/images/outpatient.jpg" alt="outpatient app image">
		</div>
		<div class="critique-app-info">
			<div class="critique-app-advantage">
			<h4>Advantages</h4>
			<ol>
				<li>Create “Tribes” for each resident; including family, friends, care providers, and others on a need-to-know basis.</li>
				<li>Share updates with Tribe members – all at once, individually or a select group </li>
				<li>Improve communications between care staff and resident tribes</li>
				<li>Track and monitor individul patient treatment/care progress</li>
			</ol>
		    </div>
		    <div class="critique-app-disadvantage">
			<h4>Disadvantages</h4>
			<ol>
				<li>A nurse can not monitor his/her daily progress</li>
				<li>No functionality to for the supervisor to monitor the activites a nurse in real-time</li>
				<li>A nurse can not transfer his or her patient to another nurse</li>
				<li>No systematic way of transiting from one pattient to another in the app.</li>
				<li>No functionality for the nurse to create a schedule except for the patient</li>
			</ol>
		    </div>
		</div>
	</div>

	<h3>Vivendi Desktop App</h3>
	<div class="critique">

		<div class="critique-app-img">
			<img src="assets/images/vivendi.PNG" alt="outpatient app image">
		</div>
		<div class="critique-app-info">
			<div class="critique-app-advantage">
			<h4>Advantages</h4>
			<ol>
				<li>The supervisor can plan nurses daily and weekly roster</li>
				<li>It can be use to write patient bill</li>
				
			</ol>
		    </div>
		    <div class="critique-app-disadvantage">
			<h4>Disadvantages</h4>
			<ol>
				<li>No mobile App except desktop application</li>
				<li>Event the destop version can not scan the PZN of patient medication</li>
				<li>A nurse can not monitor his/her daily progress in a digital platform</li>
				<li>No functionality to for the supervisor to monitor the activites a nurse in real-time</li>
				<li>A nurse can not transfer his or her patient to another nurse digitaly</li>
				
			</ol>
		    </div>
		</div>
	</div>
</div>