*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
html{
	font-size: 62.5%;
	box-sizing: border-box;
	height: 100%;
}
body{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	height: 100%;
	
}

.page-container{
	position: relative;
	flex-direction: column;	
	min-height: 100%;

}

/* Assignment and author details stlying */
.content{
	
	height: 86vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	font-size: 1.6rem;
	padding-top: 10rem;
	padding-bottom: 10rem;
}

.content span{
	font-weight: bolder;

}

.content span:after{
	content: "  ";
}

/* end of assignment and author details stlying */

/* footer styling */
.footer{
	margin-top: auto;
	width: 100%;
	background-color: #1D3557;
	height: 5rem;
	color: #F1FAEE;
	text-align: center;
	font-size: 1.3rem;
	padding-top: 1.3rem;
	bottom: 0;
	left: 0;
}
/* end of footer styling */
